In [88]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [89]:
data=pd.read_excel(r"D:\IITB\econometrics project\arv_mft_grp\data1.xlsx")

data=data.fillna(0)
data

,Mafatlal Industries Ltd.,Navin Fluorine International Ltd,Nocil Ltd.,Altamount Products And Services Pvt Ltd,Arvi Associates Pvt Ltd,Gayatri Pestichem Manufacturing Pvt Ltd,Sukarma Investments Private Limited,Suremi Trading Pvt Ltd,Sushripada Investments Pvt Ltd,Mafatlal Exim Private Limited,Mafatlal Impex Private Limited,Pamil Investments Pvt Ltd,Krishnadeep Engg Pvt Ltd,Hybrid Financial Services Ltd.
0,0.00,0.00,15.27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.78,0.00,0.83,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,14.04,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7.65,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.18,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.16,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6.03,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,8.54,0.00,12.31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.01,0.00,5.41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.00,3.29,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.00,23.57,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.00,0.01,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.00,0.00,0.24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [90]:
data2=pd.read_excel(r"D:\IITB\econometrics project\arv_mft_grp\data2.xlsx")
data2=data2.fillna(0)
data2

    family ownership
0              35.48
1              31.92
2               0.52
3               0.00
4               0.00
5               0.00
6               0.00
7               0.00
8               0.00
9               0.00
10              0.00
11              0.00
12              0.00
13             63.74

In [91]:
arr1 = pd.DataFrame(data)
arr1=arr1.to_numpy()
print(arr1)

[[0.000e+00 0.000e+00 1.527e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [2.780e+00 0.000e+00 8.300e-01 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [1.404e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [7.650e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [1.800e-01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [1.600e-01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [6.030e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [8.540e+00 0.000e+00 1.231e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [1.000e-02 0.000e+00 5.410e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 3.290e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 2.357e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 1.000e-02 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 2.400e-01 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]]

In [92]:
arr2 = pd.DataFrame(data2)
arr2=arr2.to_numpy()
print(arr2)

[[35.48]
 [31.92]
 [ 0.52]
 [ 0.  ]
 [ 0.  ]
 [ 0.  ]
 [ 0.  ]
 [ 0.  ]
 [ 0.  ]
 [ 0.  ]
 [ 0.  ]
 [ 0.  ]
 [ 0.  ]
 [63.74]]

In [93]:
print(len(arr1))
print(len(arr2))

14
14

Finding control rights

In [94]:
T=input("Enter Threshold Value: ")
T=int(T)
print(T)

30

In [95]:

indexes=[]
for i in range(0,len(data.columns)):
    indexes.append(i)
og_indexes=indexes.copy()
indexes

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [96]:
def func(a,b):
    cfr=[]
    sum=0
    for i in b:
        if (i in a):
            sum=sum+arr2[i][0]
            for j in a:
                sum=sum+arr1[j][i]
            cfr.append(sum)
        else:
            cfr.append(np.nan)
        sum=0
    return cfr

In [97]:
r=func(indexes,og_indexes)

print(r)

[52.30000000000001, 31.920000000000055, 16.619999999999997, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 63.74, 74.87000000000002, 58.790000000000056, 34.580000000000005, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 63.74]

In [98]:
while(True):
    temp_pos=0

    r=func(indexes,og_indexes)
    temp=indexes.copy()

    
    for x in r:
        
            if(x<T):
                y=r.index(x,temp_pos)
                temp_pos=y+1
               
                indexes.remove(y)
    if(temp==indexes):
        break

In [99]:
res = [x + 1 for x in indexes]
print('C({}) = {}'.format(T,res))
print(r)

C(30) = [1, 2, 14]
[38.26000000000001, 31.920000000000055, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 63.74]

In [100]:
indexes=og_indexes.copy()

In [101]:
def cct(t,p,q):
    while(True):
        temp_pos=0

        r=func(p,q)
        
        temp=p.copy()
        for x in r:
            if(x<t):
                y=r.index(x,temp_pos)
                temp_pos=y+1
                p.remove(y)
        if(temp==p):
            break
    return p

Finding critical control threshold for a firm i

In [102]:
i=input("Enter the firm whose cct is to be found: ")
i=int(i)
i=i-1

In [103]:
T=0

indexes+og_indexes.copy()
while(True):
    r=cct(T,indexes,og_indexes)
    if(i in r):
        T=T+1
        indexes=og_indexes.copy()
    else:
        break
print('Critical Control Threshold for firm {} = {}'.format(i+1,T-1))

Critical Control Threshold for firm 1 = 35